{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "sourceType": "unambiguous",
    "plugins": [
      [
        "@babel/plugin-transform-runtime",
        {
            "regenerator": true
        }
      ]
    ]
  }
