* {
    margin: 0;
    padding: 0;
}
.hide {
    display: none;
}
.full_screen {
    max-width: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    height: 100% !important;
}

.vc-switch {
    bottom: 100px !important; // vconsole在iframe样式下问题
}
