.video-player {
  background-color: #EDF2F9;
  box-shadow: 0px 0px 10px #ccc;
  > div {
    z-index: 1;
  }
  .icon-smile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0,0,0,.65);
  }

  .icon-microphone, .icon-microphone-close {
    z-index: 100;
    color: #0087FF;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 10px;
    height: 13px;
    border-radius: 5px;
    background: white;
    &:before {
      font-size: 19px;
      transform: translate(-5px, -7px);
    }
  }

  .icon-microphone-close {
    color: #FD3E3F;
  }
}